body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.tetext{
    text-align: center;
    height: 100px;
    background-color: #262626;
}
.tetext h1{
    margin: 0;
    line-height: 100px;
    color: #fff;
    font-size: 48px;
}
.teh1{
    text-decoration: none;
}
.tesmall{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.temenu{
    margin: 0;
    padding: 0;
    background: #f00;
    color: #fff;
    display: flex;
}
.temenu ul li{
    list-style: none;
    text-decoration: none;
}
.teli a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: block;
}
.temenu li{
   text-decoration: none;
   display: block;
}

/*section{
    height: 300px;
}*/
/*.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
*//* .menu{
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
} */
