*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.teupmain{
	/*border: 10px solid red;*/
	display: flex;
	margin-top: 20px;
}
.nav{
	border: 5px solid yellow;
}
.teupform{
	border-right: 5px solid black;
	width: 30%;
}
.teupform h1{
	margin-top: 20%;
}
.teupformlink{
	border-radius: 8px;
	color: black;
	background-color: gray;
	padding: 15px;
	margin-left: 30%;
	font-size: 40px;
	text-decoration: none;
}
.teupformlink:hover{
	color: white;
	background-color: green;
	transition-duration: 0.4;
}
.teupcont{
	/*border: 5px solid blue;*/
	width: 60%;
	float: right;
	margin-left: 30px;
	padding: 20px;
}
.teupcont h1{
	margin-bottom: 10px;
}
.teupcont li{
	list-style: none;
}
.teuphr{
	margin-top: 8px;
}