<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.menu').addClass("sticky");
        }
        else {
            $('.menu').removeClass("sticky");

        }
    })
</script>
 -->
    
<div class="text">
    <h1>MOHD AKIBUDDIN </h1>
</div>
<ul class="menu">
    <li><a href="">ATTENDANCE</a></li>
    <li><a href="">VERTUAL CLASSROOM</a></li>
    <li><a href="">HOMEWORK</a></li>    
    <li><a href="">FEE</a></li>
    <li><a href="">UPDATES</a></li>
    <li><a href="">EVENTS</a></li>
    <li><a href="">SYLLABUS</a></li>
    <li><a href="">TIMETABLE</a></li>
    <li><a href="">STUDENTS DETAILS</a></li>
    <li><a href="">LEAVE</a></li>
    <li><a href="">RESULT</a></li>
</ul>
<!-- <section></section>
<section></section>
<section></section> -->
