<%= render "students/stnavbar" %>
<div class="stupmain">
  <h1>Updates</h1>
  <div class="stupcont">
    <ul>
      <% @updates.each do |update| %>
        <li>
          <strong><%= update.title %></strong><br>
          <%= update.body %><hr class="stuphr">
        </li><br><br>
      <% end %>
    </ul>  
  </div>  
</div>