<div class="main">
	<div class="homecont">
		<div class="homeimg">
			<img src="https://www.freepnglogos.com/uploads/trophy-png/gold-trophy-shiny-png-0.png">
		</div>
		<div class="hometext">
			<h1>MySchool</h1>
			<hr class="homehr1">
			<p>A Great Place For Education.</p>
	    </div>
		<div class="homebtn">	    
		    <div class="homebtns"><h1><%= link_to "STUDENT", students_index_path, class: "index-link" %></h1></div>
		    <div class="homebtnt"><h1><%= link_to "TEACHER", root_path, class: "index-link" %></h1></div>
	    </div>

	</div>
</div>