<div class="main">
	<div class="homecont">
		<div class="homeimg">
			<img src="https://www.freepnglogos.com/uploads/trophy-png/gold-trophy-shiny-png-0.png">
		</div>
		<div class="hometext">
			<h1>MySchool</h1>
			<hr class="homehr1">
			<p>A Great Place For Education.</p>
	    </div>
	</div>
	
	<div class="homebtn">	    
	    <span><%= link_to "STUDENT", students_index_path, class: "homebtns" %></span>
	    <span><%= link_to "TEACHER", teachers_index_path, class: "homebtnt" %></span>
    </div>
</div>