<div class="tetext">
    <h1><%= link_to "MOHD AKIBUDDIN", teachers_index_path, class: "teh1" %> <small class="tesmall">(Teacher)</small></h1>
</div>

<ul class="temenu">
    <li class="teli"><a href="">ATTENDANCE</a></li>
    <li class="teli"><a href="">VERTUAL CLASSROOM</a></li>
    <li class="teli"><%= link_to "UPDATES", teachers_teupdates_path %></li>
    <li class="teli"><a href="">EVENTS</a></li>
    <li class="teli"><a href="">TIMETABLE</a></li>
    <li class="teli"><a href="">STUDENTS DETAILS</a></li>
</ul>
