<%= render "teachers/tenavbar" %>
<div class="teupmain">
  <div class="teupform">
     <h1><%= link_to "create new", new_update_path, class:"teupformlink" %></h1>
  </div>

  <div class="teupcont">
    <h1>Updates</h1><br>
    <ul>
      <% @updates.each do |update| %>
        <li>
          <strong><%= update.title %></strong><br>
          <%= update.body %><hr class="teuphr">
        </li><br><br>
      <% end %>
    </ul>
  </div>

</div>    